body{
	margin: 0;
	padding: 0;
	font-family: Roboto;
	background-color: rgba(0,0,0,0.05);
	overflow-x: hidden;
}
ul{
	margin: 0;
	padding: 0;
}
h4{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
.flux-container{
	width: 575px;
	padding-top: 35px;
	padding-left: 35px;
	display: block;
	margin: auto;
}
.publisher{
	position: fixed;
	background: #e67e22;
	text-align: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	bottom: 25px;
	right: 25px;
	border: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.2);
	transition: all ease .2s;
}
.publisher:hover{
	transform: translateY(-5px);
}
.publisher-btn{
	color: white;
	font-size: 30px;
	position: absolute;
	top: 20px;
	left: 23px;
}
.orange{
	color: #e67e22;
	text-decoration: none;
}
.black-link{
	color: black;
	text-decoration: none;
}
.postError{
	background-color: rgba(255,0,0,0.2);
	padding: 10px;
	margin-bottom: 10px;
	color: rgba(192, 57, 43, 0.9);
	border: 1px solid rgba(192, 57, 43, 0.5);
	border-radius: 4px;
}
.postSuccess{
	background-color: rgba(0,240,0,0.2);
	padding: 10px;
	margin-bottom: 10px;
	color: rgba(39, 174, 96,1.0);
	border: 1px solid rgba(39, 174, 96,1.0);
	border-radius: 4px;
}
.nodeco{
	color: #333333;
}
.nodisplay{
	display: none;
}
.mt10{
	margin-top: 10px;
}
.cookies{
	position: fixed;
	z-index: 999999999;
	top: 10vh;
	left: calc((100vw - 500px)/2);
	width: 500px;
	background: white;
	border: solid 1px rgba(0,0,0,0.1);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 8px;
	font-size: 14px;
	text-align: center;
}
.cookies_seen{
	text-decoration: none;
	color: white;
}
.cookie-btn{
	width: 500px;
	margin-left: -9px;
	margin-bottom: -10px;
	box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 8px;
	text-align: center;
	color: white;
	background: #e67e22;
}
.cookie_fade{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
}
.nc-norange{
	color: #333333;
}
.norange{
	font-size: 12px;
	color: #333333;
}.notifications-counter{
	font-size: 9px;
	color: white;
	background-color: #e67e22;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 15px;
	position: absolute;
	margin-left: 5px;
	margin-top: 1px;
}
.widget-faded{
	display: none;
}
.w-faded{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	animation: fromO .3s;
}
.notifications-center{
	display: none;
	position: fixed;
	z-index: 99999999999999999999999999999999999999999999;
	left: calc((100% - 540px)/2);
	top: 62px;
	width: 575px;
	box-sizing: border-box;
	background-color: white;
	border-radius: 3px;
}
.nc-displayed{
	display: block;
	animation: fromO .4s;
}
@keyframes fromO{
	from{ opacity: 0;}
	to{ opacity: 1;}
}
.nc-header{
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: solid 1px rgba(0,0,0,0.1);
}
.nc-notifications{
	max-height: 50vh;
	overflow-y: auto;
}
.nc-notification{
	box-sizing: border-box;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	padding: 15px;
	padding-left: 8px;
}
.nc-seen{
	background-color: rgba(0,0,0,0.08);
}
.nc-notification p{
	margin-left: 40px;
}
.nc-nodeco{
	text-decoration: none;
	color: #333333;
	font-weight: 900;
}
.nc-frigth{
	position: absolute;
	font-size: 25px;
	right: 0;
	margin-right: 15px;
	margin-top: -6px;
}
.nc-avatar{
	width: 35px;
	height: 35px;
	float: left;
	margin-top: -8px;
	border-radius: 3px;
}
#nc-closer:hover{
	cursor: pointer;
}